body{
    background-color: #101728;
}
nav{
    width: 100%;
}
.foto-perfil{
    width:400px;
    border-radius: 10%;
    margin-right: 10px;
    position: relative;
    right:0%;
    top: 0px;
}
.foto-shadow{
    width:400px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    left: 80%;
    background-color: #2347a1;
    box-shadow: -50px 50px 50px 50px #2347a1;   
}
.titulo-primeiro-slide{
    font: normal bold 65px/1 "Arial";
    color: white;
    margin-right: 10px;
    position: relative;
    top: 210px;;
    right: 100%;
    text-align: left;
}
.primeiro-slide{
    display: inline-block;
    bottom: 1px;
}
.botao-primeiro-slide{
    background: linear-gradient(to left, #FF3C5F, #9340FF);
    cursor: pointer;
    border: none;
    width: 170px;
    height: 50px;
    text-align:center;
    padding: 5px 20px;
    border-radius:1000px;
    position: relative;
    right: 128%;
    top: 300px;
}
.botao-primeiro-slide-lik{
    color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font: normal bold 20px/1 "Arial";
}
.botao-primeiro-slide:active {
    box-shadow: inset 10px 10px 20px 20px rgba(0, 0, 0, 0.3);
}
.titulo-segundo-slide{
    font: normal bold 65px/1 "Arial";
    color: white;
    position: relative;
    top: 400px;
    left: 0px;
}
.text-segundo-slide{
    height: 450px;
    font: normal bold 20px/1 "Arial";
    color: white;
    position: relative;
    top: 450px; 
}
.segundo-slide{
    width: 100%;
}
.titulo-terceiro-slide{
    font: normal bold 65px/1 "Arial";
    color: #9340FF;
    position: relative;
    top: 300px;
    right: 150px;
    text-align:left ;
}
.text-terceiro-slide {
    right: 150px;
    height: 200px;
    font: normal bold 20px/1 "Arial";
    color: white;
    position: relative;
    top: 350px;
    text-align:left ;
}
.box-terceiro-slide{
    width: 400px;
    height: 400px;
    position: relative;
    right: 200px;
    bottom: 100px;
}
.terceiro-slide{
    position: relative;
    top: 200px;
    display: inline-block;
}
.cssjv{
    display: inline-block;
    position: relative;
    left: 300px;
    bottom: 200px;
    width:400px;
    border-radius: 10%;
}
.titulo-quarto-slide{
    font: normal bold 44px/1 "Arial";
    color: #9340FF;
    position: relative;
    top: 300px;
    left: 500px;
    text-align: left;
}
.text-quarto-slide {
    height: 200px;
    font: normal bold 20px/1 "Arial";
    color: white;
    position: relative;
    top: 340px;
    left: 500px;
    text-align: left;
}
.box-quarto-slide{
    width: 400px;
    height: 400px;
    position: relative;
    right: 200px;
    bottom: 100px;
}
.quarto-slide{
    position: relative;
    top: 200px;
    display: inline-block;
}
.git{
    display: inline-block;
    position: relative;
    right: 350px;
    border-radius: 20px;
    bottom: 200px;
}
.botao-quarto-slide{
    background: linear-gradient(to left, #FF3C5F, #9340FF);
    cursor: pointer;
    border: none;
    width: 170px;
    height: 50px;
    text-align:center;
    padding: 5px 20px;
    border-radius:1000px;
    position: relative;
    left: 130%;
    top: 420px;
}
.botao-quarto-slide-lik{
    color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font: normal bold 20px/1 "Arial";
}
.botao-quarto-slide:active {
    box-shadow: inset 10px 10px 20px 20px rgba(0, 0, 0, 0.3);
}
.titulo-quinto-slide{
    font: normal bold 65px/1 "Arial";
    color: #9340FF;
    position: relative;
    top: 300px;
    right: 150px;
    text-align:left ;
}
.text-quinto-slide {
    right: 150px;
    height: 200px;
    font: normal bold 20px/1 "Arial";
    color: white;
    position: relative;
    top: 350px;
    text-align:left ;
}
.box-quinto-slide{
    width: 400px;
    height: 400px;
    position: relative;
    right: 200px;
    bottom: 100px;
}
.quinto-slide{
    position: relative;
    top: 200px;
    display: inline-block;
}
.git{
    display: inline-block;
    position: relative;
    right: 350px;
    border-radius: 20px;
    bottom: 200px;
}
.botao-quinto-slide{
    background: linear-gradient(to left, #FF3C5F, #9340FF);
    cursor: pointer;
    border: none;
    width: 170px;
    height: 50px;
    text-align:center;
    padding: 5px 20px;
    border-radius:1000px;
    position: relative;
    right: 40%;
    top: 400px;
}
.botao-quinto-slide-lik{
    color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font: normal bold 20px/1 "Arial";
}
.botao-quinto-slide:active {
    box-shadow: inset 10px 10px 20px 20px rgba(0, 0, 0, 0.3);
}



footer{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #0c111f;
    top: 250px;
}
.footer-text{
    font: normal bold 20px/1 "Arial";
    color: white;
    text-align:left ;
    padding: 5%;
}
.contato{
    display:contents;
}
.footer-title{
    font: normal bold 40px/1 "Arial";
    color: white;
    text-align:left ;
    padding: 5%;
}